.about {
    background: black;
    height: auto;
    position: relative;
    z-index: 0;
    margin: 100px auto;
    text-align: center;

    & h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 70px;
        font-weight: 700;
        text-decoration: underline #ccaafc;
    }
    & p {
        font-size: 28px;
        padding-inline: 10%;
    }
}
.about-container {
    margin-bottom: 37%;
}

@media (max-width: 693px) {
    .about p{
        font-size: 20px;
    }
}