.skills-container {
  margin-inline: 85px;
}

.skills-title {
  position: relative; 
  margin-bottom: 20px;
  font-size: 25px;
}

.title-line {
  position: absolute; 
  width: 3%; 
  bottom: -5px; 
  border: none;
  border-bottom: 3px solid #ccaacf; 
}

.skills-card {
  background-color: #262626;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-inline: 10px;
  padding: 34px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Bungee';
  letter-spacing: 1px;
  transition: transform 0.3s ease;
  & img{
    background-color: #262626;
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
  }
}

.card{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
  margin-bottom: 50px;
}


.skills-card:hover {
  transform: translateY(-5px); 
}

@media (max-width:1202px) {
  .skills-container{
    display: flex;
    flex-direction: column;
  }
  .card{
    display: grid;
    grid-template-columns:1fr 1fr  ;
  }
}

@media (max-width:693px){
  .card{
    display: grid;
    grid-template-columns:1fr;
}
.projects{
  margin-inline: auto;
}
.skills-container {
  margin-inline: 0;
}
}