.footer{   
    color: white;
    height: 100px;
    margin-top: 70px;
    padding-top: 20px;
    display:flex ;
    justify-content: center;
    border-top: solid 1px #ccafcc;
    & p{
        font-size: 16px;
    }
}