.projects {
    background-color: black;
    height: auto;
    margin-inline: 110px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: center;
    & h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        text-decoration: underline #CCAAFC;
        font-size: 70px;
        font-weight: 700;
    }
}
.btn-container{
    text-align: center;
    margin-top: 100px;
}
.button {
    text-decoration: none;
    font-size: 25px;
    color: #CCAAFC;
    padding: 20px 50px;
    border: 2px solid #CCAAFC;
    position: relative;
    margin-top: 50px;
}

.button::before, 
.button::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: inherit;
    transition: all .5s;
}
.button::before{
    top: -18px;
    left: -14px;
    border-width: 2px 0 0 2px;
}
.button::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 2px 2px 0;
}
.button:hover::before,
.button:hover::after{
    width: calc(99.6% + 28.5px);
    height: calc(99.9% + 29.9px);
}

.container-card {
    display: flex;
    background: grey;
    margin-inline: 10px;
    border-radius: 50px;
}

.intro {
    opacity: 0;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: black;
    color: white;
    transition: opacity 0.5s, ;
    bottom: 0;
    width: 100%;
    & h3{
        margin: 10px;
        font-size: 20px;
    }
    & p {
        font-size: 15px;
        margin: 20px;
    }
}

.card-projects{
    height: 80%;
    margin: 5px;
    overflow: hidden;
    position: relative;
    background-color:grey;
    border-radius: 50px;
    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-color: grey;
    }
    & h3 {
        opacity: 1;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover .intro{
        opacity: 1;
    }
    :hover p{
        opacity: 1;
        visibility: visible; 
    }
}

.container-projects{
   display: grid;
   justify-content: center;
   align-items: flex-start;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}


@media (max-width:1202px) {
    .button:hover::before,
.button:hover::after{
    width: calc(99.1% + 29.9px);
    height: calc(99.2% + 31px);
}
.container-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    align-items: center;
    gap: 20px;
}
.container-card{
    width: 85%;
}
}