.header {
    display: flex;
    height: auto;
    width: auto;
    margin-bottom: 100px;
    margin-inline: 85px;
    justify-content: space-between;
    color: white;
    background-color:black;
    padding: 30px;
    font-size: 25px;
    & h1 {
        font-size: 38px;

    }
    
}

.header ul {
    color: white;
    list-style-type: none;
    display: flex;
    gap: 50px;
    position: relative;
}

.header a {
    text-decoration: none;
    color: white;   
    font-family: 'proza libre';
    font-size: 30px;
}
.header ul a:hover{
    color: #ccafcc;
}

.header img{
    width: 100%;
    height: 100%;
}

.header ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color:rgba(255, 255, 255, 0.5);
    transition: width 0.3s ease;
}
.header ul li .navlink:hover:after {
    width: 100%;
    background-color: #ccafcc; 
}

.open-menu , .close-menu {
        position: absolute;
        color: red;
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
    }
    .open-menu {
        top: 4%;
        right: 20px;
        transform: translateY(-50%);
    }
    .close-menu {
        top: 20px;
        right: 20px;
    }
    #check {display: none;} 

@media (max-width:1202px) {
    .header{
        flex-direction: column;
        align-items: center;
        margin-bottom:40px;
    }
}
@media(max-width: 693px){
    .header ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: black;
        transition: right 0.2s ease;
    }
    header ul li {margin-top: 40px;}
    .header ul li .navlink {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ ul {right: 0;}
}