.presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline:159px;
  margin-bottom: 30px;
  padding: 30px;   
  border-left: 8px solid white;
  position: relative;
  white-space: nowrap;
  & .text {
    display: flex;
    flex-direction: column;
  }
  & h1 {
    font-size: 102px;
    letter-spacing: 2px;
  
  }
  & h2 {
    font-size: 70px;
    font-weight: 600;
    padding: 0 1px;
   position: relative;
   text-decoration: underline;
   text-decoration-color: #ccaafc; 
  transition: text-decoration-color 0.3s ease; 
  &:hover {
    text-decoration-color: rgba(204, 170, 252, 0.5) 
  }
  }
  & h3 {
    font-size: 20px;
    font-weight: 300;
  }
  & img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 10px;
    border:solid 4px #ccaafc;  
    align-self: flex-end; 
    margin-bottom:220px;
  }
  & .image-presentation {
    display: flex;
    justify-content: center; 
  }
  &::before {
    content: "";
    position: absolute;
    top: -4px; /* Ajuster position boule */
    left: -10.7px; /* Ajuster position  boule */
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
  
  }
}

@media (max-width:1202px) {
  .presentation{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    border-left: none;
  }
  .presentation h2 {
    font-size:45px ;
  }
  .presentation img {
    margin-bottom: 0;
  }
  .presentation:before {
    display: none;
  }
}

@media (max-width:693px) {
  .presentation{
    margin-inline: auto;
    white-space: wrap;
  }
  .presentation h1 {
    font-size: 52px;
  }
  .presentation h2 {
    font-size: 30px;
  }
  .presentation h3 {
    font-size: 16px;
  }
  .presentation .text{
    margin-right: 0;
  }
}