.skills {
    background-color:black;
    height: auto;
    align-items: center;
    margin-inline: 25px;
    padding: 30px;

    & h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 70px;
        font-weight: 700;
        text-decoration: underline #ccaafc;

    }
    & p {
        text-align: center;        font-family: 'fraunces';
    }
}

@media (max-width:693px){
    .skills{
        margin-inline: 0;
    }
}